
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/_LayoutUser.cshtml";
}

<!-- shop-page -->
<div class="container">
    <div class="row content">
        <div class="col-md-9">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d489.9192937128775!2d106.6264895702021!3d10.784148928342889!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752c032620d73d%3A0x628a86c107da9b22!2zMTYwIE5ndXnhu4VuIFPGoW4sIFBow7ogVGjhuqFuaCwgVMOibiBQaMO6LCBI4buTIENow60gTWluaCwgVmnhu4d0IE5hbQ!5e0!3m2!1svi!2s!4v1544088410750" width="850" height="600" frameborder="0" style="border:0;border-radius:10px;" allowfullscreen></iframe>
        </div>
        <div class="col-md-3 shop-sidebar">
            <div class="sidebar-widgets">
                <div class="row right-cal">
                    <h4>Giờ mở cửa</h4>
                    <ul>
                        <li><a href="#">Thứ hai<span>8am-10pm</span></a></li>
                        <li class="colored"><a href="#">Thứ ba<span>8am-10pm</span></a></li>
                        <li><a href="#">Thứ tư<span>8am-10pm</span></a></li>
                        <li class="colored"><a href="#">Thứu năm<span>8am-10pm</span></a></li>
                        <li><a href="#">Thứ sáu<span>8am-10pm</span></a></li>
                        <li class="colored"><a href="#">Thứ bảy<span>8am-11pm</span></a></li>
                        <li><a href="#">Chủ nhật<span>8am-11pm</span></a></li>
                    </ul>
                </div>
                <div class="row right-inf">
                    <h4>Thông tin liên hệ</h4>
                    <ul>
                        <li>
                            <p>
                                Double King Burger
                            </p>
                        </li>
                        <li>
                            <p>
                                130 Nguyễn Sơn Phường Bình Hưng Hòa Quận Tân Bình TP.HCM
                            </p>
                        </li>
                    </ul>
                    <ul>
                        <li><a href="#">Tổng đài:1900-06-1106</a></li>
                        <li><a href="#">E:info@chocco.com</a></li>
                        <li>
                            <a href="1900061106"><h4>Liên hệ</h4></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!--end-shop-page -->
