@model List<DoAnChuyenNganh_Web_Ver5.Models.CartItem>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<h4><a href="#"><i class="fa fa-shopping-cart" style="font-size:24px"></i>(@Model.Count)</a></h4>
