@using (Html.BeginForm("SearchResult", "Partial", FormMethod.Post))
{
    <div class="input-group stylish-input-group">
        <input style="width:70%;float:right" type="text" name="Search" class="form-control" placeholder="Tìm kiếm" required>
        <span class="input-group-addon">
            <button type="submit">
                <span class="glyphicon glyphicon-search"></span>
            </button>
        </span>
    </div>
}


