<form method="get" class="apply-coupon">
    @Html.ValidationSummary(true)
    @ViewData["Error"]
    <input class="search-field" type="text" placeholder="Mã giảm giá" name="Coupon">
    <input class="btn btn-primary" type="submit" style="background-color:saddlebrown;" value="Áp dụng">
</form>
