@using (Html.BeginForm("EmailBox", "Event", FormMethod.Post))
{
    <h4>Đăng ký nhân thông tin khuyến mãi</h4>
    <input type="email" name="Email" placeholder="Nhập email của bạn" style="padding: 5px 4px 4px 6px; border-radius: 3px; border-style: none;" />
    <button type="submit" style="padding: 8px 8px 7px 6px;border-radius: 3px;background: #ffffff;border-style: none;font-weight: 600;">
        Đăng ký
    </button>
}
