
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/_LayoutUser.cshtml";
}

<div class="container checking-area">
    <div class="row">
        <div class="col-md-9 checkout-accordion">
            <div class="col-md-12 white-bg">
                <div class="bs-example">
                    <div class="panel-group" id="accordion">
                        <div class="panel panel-default">
                            <div>
                                <div class="panel-body pb2">
                                    <div class="accordion-list-content" style="overflow: hidden; display: block;">
                                        @using (Html.BeginForm("Edit", "Account", FormMethod.Post))
                                        {
                                            @Html.ValidationSummary(true)

                                            <div class="col-md-6 check-name">
                                                <div>
                                                    <form class="form-horizontal" role="form">
                                                        <div class="form-group">
                                                            <div class="col-sm-12">
                                                                <input style="margin-bottom:10px" type="text" name="CtmName" class="form-control" placeholder="Họ Tên" required>
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <div class="col-sm-12">
                                                                <input style="margin-bottom:10px" type="text" name="Addr" class="form-control" placeholder="Địa Chỉ" required>

                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <div class="col-sm-12">
                                                                <input style="margin-bottom:10px" type="tel" name="Tell" class="form-control" placeholder="Số Điện Thoại" required>
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <div class="col-sm-12">
                                                                <input style="margin-bottom:10px" type="email" name="Eaddr" class="form-control" placeholder="Địa Chỉ Email">

                                                            </div>
                                                        </div>
                                                    </form>
                                                    <button style="float:left;margin-left:245px;" type="submit" class="btn btn-default">Lưu</button>
                                                </div>
                                            </div>
                                        }
                                        <div class="col-md-6 check-name">
                                            <img src="~/images/Signup.jpg" width="367" style="margin-top:70px;" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

