@model IEnumerable<DoAnChuyenNganh_Web_Ver5.Models.Product>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/_LayoutUser.cshtml";
}

<!--flex-slider-->
<div class="main-flexslider">
    <a href=""><img src="~/images/slide-01.jpg" alt="slide 01"></a>
</div>
<!--end-flex-slider-->
<!--Icon Blocks-->
<div class="container">
    <div class="icon-blocks">
        <img style="margin-left:210px;" src="~/images/BannerTitle.png" width="700" height="150" />
    </div>
</div>
<!--end Icon Blocks-->
<!--articles-->
<div class="container">
    <div class="row articles">
        @foreach (var item in Model)
        {

            <div class="col-md-3 col-sm-6">
                <img src="~/images/@item.Pic" alt="img">
                <div class="text">
                    <a href="@Url.Action("Details","Product",new { id = item.PrID})">
                        <span>
                            @item.PrName
                        </span>
                    </a>
                    <p>
                        @item.Price.ToString("N0")
                    </p>
                </div>
            </div>


        }

    </div>
</div>
<!--end-articles-->
<!-- partners box -->
<div class="container">
    
        <!-- Wrapper for slides -->
        <img style="margin-left:210px;" src="~/images/BestSeller.png" width="700" height="150"/>

</div>
<!--end-partners box -->
<!--articles-->
    @Html.Action("BestSeller","Home")
<!--end-articles-->
