@model IEnumerable<DoAnChuyenNganh_Web_Ver5.Models.Product>


@foreach (var item in Model)
{
    <div class="col-md-4">
        <img src="images/@item.Pic" alt="">
        <div class="text">
            <a href="#">
                <span>
                    @item.PrName
                </span>
            </a>
            <p>
                @item.Price.ToString("N0") đ
            </p>
        </div>
    </div>
}

